<div class="flex flex-row justify-center w-full my-4">
    <h3 class="flex justify-center" style="font-size: 30px;">Your Posts</h3>    
</div>
<div class="flex flex-row justify-center w-full my-6">
    {{#if posts.length}}
    {{#each posts as |post| }}
    <a href="/post/{{post.id}}" class="card bg-base-100 shadow-xl">
            <div class="bg-primary flex flex-row justify-between px-16 py-6 w-full text-secondary">
                <h2 class="card-title">{{post.name}}</h2>
                <h4>{{post.date}}</h4>
            </div>
    </a>
    {{/each}}
    {{/if}}
</div>
<div class="flex flex-row justify-center w-full">
    <div class="card w-40 bg-secondary-content text-secondary">
        <div class="card-body py-4">
            <a href="/new-post" class="flex justify-center">New Post</a>
        </div>
    </div>
</div>