<div class="posts">
    <div class="card">
        <div class="card-head">
            <h2 class="post-title">{{post_name}}Name</h2>
            <h3 class="post-date">{{post_date}}Date</h3>
        </div>
        <p>{{post_content}}Content</p>
    </div>
</div>