<div class="row mt-3">
    {{#if posts.length}}
    <div class="col-md-10 post-list">
        <h3>Your Posts</h3>
        {{#each posts as |post|}}
        <a href="/post/{{post.id}}">
            <div class="row mb-2">
                <div class="col-md-8">
                    <h4>{{post.name}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>{{post.date}}</h4>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
    {{/if}}
</div>
