<div class="row mt-3">
  <div class="col-md-10 card">
    <div class="card-head">
        <h3 class="post-title">Create New Post</h3>
    </div>
    <form class="form" id="new-post-form">
      <div class="form-group">
        <label for="new-post-title">Title</label>
        <input class="form-input" type="text" id="new-post-title"  placeholder="enter a title"/>
      </div>
      <div class="form-group">
        <label for="new-post-content">Content</label>
        <input class="form-input" type="text" id="new-post-content" placeholder="enter your thoughts"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
    <div class="col-md-10 card">
        <a href="/new-post">New Post</a>
    </div>
</div>

<script src="/js/newpost.js"></script>