<div class="flex flex-row justify-center w-full my-6">
  <div class="card card-bordered border-primary bg-base-100 shadow-xl w-1/2">
    <div class="bg-primary flex flex-row justify-between px-16 py-2 w-full text-secondary">
      <h2 class="card-title">Sign up</h2>
    </div>
    <div class="card-body">
      <div class="form-signin text-center">
        <form id="signup-form">
          <div class="form-floating mb-6">
            <label for="username-signup">Username</label>
            <input type="text" class="p-2" id="username-login" placeholder="enter a username" autofocus="true">
          </div>
          <div class="form-floating">
            <label for="password-signup">Password</label>
            <input type="password" class="p-2" id="password-login" placeholder="enter a password" autofocus="true">
          </div>
          <div class="flex flex-column justify-center mt-8">
            <button class="btn btn-primary text-primary" type="submit">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>